<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your to-do list has become unwieldy. You need something that actually works. Meet TaskThresher, an awesome little application by Brandon Bayer." >
    <meta name="apple-mobile-web-app-title" content="TaskThresher" >
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="mobile-web-app-capable" content="yes" >
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>
      <%= content_for?(:title) ? yield(:title) : "TaskThresher | Created by Brandon Bayer" %>
    </title>

    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'touch-icon-ipad.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "76x76" %>
    <%= favicon_link_tag 'touch-icon-iphone-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "120x120" %>
    <%= favicon_link_tag 'touch-icon-ipad-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "152x152" %>

    <script src="//use.typekit.net/stn2owb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="header-wrapper">
      <section class="content">
        <h1 class="logo">
          <%= link_to root_path do %>
            <span class="first">Task</span><span class="second">Thresher</span>
          <% end %>
        </h1>

        <nav>
          <% if signed_in? %>
            <%= button_to 'Sign Out', sign_out_path, method: :delete %>
          <% elsif @sign_in_page %>
            <%= link_to 'Register', register_path, class: "register" %>
          <% else %>
            <%= link_to 'Sign In', sign_in_path %>
          <% end %>
        </nav>
      </section>

      <section id="flash">
        <% flash.each do |name, msg| -%>
          <% if msg.is_a?(String) %>
            <div data-alert
              class="alert-box <%= name %> radius">
              <%= msg %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% end %>
      </section>
    </header>

    <%= yield %>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-57899301-2','auto');ga('send','pageview');
    </script>
  </body>
</html>
